flows/guard-prompt-retraining-corrected.json
{
  "name": "Automated Daily Guard Prompt Retraining",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "min_created_at",
              "value": "={{ $now.minus({ days: 7 }).startOf('day').toUTC().toISO() }}"
            },
            {
              "name": "max_created_at",
              "value": "={{ $now.minus({ days: 7 }).endOf('day').toUTC().toISO() }}"
            },
            {
              "name": "guard_name",
              "value": "unusual_prompt_agentic"
            },
            {
              "name": "prompt_file_name",
              "value": "unusual_prompt_agentic.txt"
            },
            {
              "name": "google_drive_folder_id",
              "value": "1jplKoFeo3xLShJFO4_MpPUVHfDr-cOwx"
            },
            {
              "name": "google_sheets_spreadsheet_id",
              "value": "1maCntXucpkj8MPV_w8Hi0NGvNka7r7aOvFTYilaqtis"
            },
            {
              "name": "google_sheets_sheet_name",
              "value": "Guard_Retraining_Log"
            }
          ]
        },
        "options": {}
      },
      "id": "set-date-range",
      "name": "Set Date Range & Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://api.smith.langchain.com/feedback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.LANGSMITH_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "min_created_at",
              "value": "={{ $json.min_created_at }}"
            },
            {
              "name": "max_created_at",
              "value": "={{ $json.max_created_at }}"
            },
            {
              "name": "key",
              "value": "False Positive"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "get-feedback",
      "name": "Get False Positive Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-records",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-records",
      "name": "Check for Records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Set Date Range & Config').first().json.google_drive_folder_id }}",
        "fileName": "={{ $('Set Date Range & Config').first().json.prompt_file_name }}",
        "options": {}
      },
      "id": "get-original-prompt",
      "name": "Get Original Guard Prompt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-feedback",
      "name": "Loop Through Feedback",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1340, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://api.smith.langchain.com/runs/{{ $json.run_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.LANGSMITH_API_KEY }}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "get-run-details",
      "name": "Get Run Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "url": "https://api.smith.langchain.com/feedback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.LANGSMITH_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "run",
              "value": "={{ $('Loop Through Feedback').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "get-run-feedback",
      "name": "Get All Feedback for Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "prompt": "You are an AI assistant that analyzes failed guard prompt executions. Given the original prompt, the inputs that caused a failure, and a list of feedback comments from human annotators, your task is to generate a corrected few-shot example and a brief reasoning for the failure.\n\nOriginal Prompt:\n{{ $('Get Original Guard Prompt').first().json.content }}\n\nOriginal Inputs: {{ JSON.stringify($('Get Run Details').first().json.inputs) }}\n\nAnnotator Feedback: {{ JSON.stringify($('Get All Feedback for Run').first().json.map(item => item.comment).filter(Boolean)) }}\n\nTask:\n1. Generate a reasoning string that explains in plain language why the guard failed. Example: 'The guard was overly sensitive and mistook a clarifying question for a user seeking advice.'\n2. Generate a new expected_response JSON that represents the correct output the guard should have produced.\n3. Combine these into a single JSON object with the following structure and no other text:\n\n{\n \"reasoning\": \"Your reasoning string here.\",\n \"new_few_shot_example\": {\n   \"user_input\": \"[The user_input from the original run's inputs]\",\n   \"reference_text\": \"[The reference_text from the original run's inputs]\",\n   \"expected_response\": \"[The new, corrected JSON output you generated]\"\n  }\n}",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048
        }
      },
      "id": "first-llm-analysis",
      "name": "First LLM Call - Analysis",
      "type": "n8n-nodes-base.basicLLMChain",
      "typeVersion": 1,
      "position": [2000, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "analysis_result",
              "value": "={{ JSON.parse($json.output) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-analysis",
      "name": "Extract Analysis Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "prompt": "You are an expert prompt engineer. Your task is to refine an existing AI guard prompt based on an analysis of its recent failures. You will be given the original prompt, a list of reasoning statements explaining the failures, and a list of new few-shot examples that should be incorporated.\n\nOriginal Prompt:\n{{ $('Get Original Guard Prompt').first().json.content }}\n\nAnalysis Results:\n{{ JSON.stringify($('Loop Through Feedback').all().map(item => item.json.analysis_result)) }}\n\nTask:\n1. Review the reasoning and new examples to understand the pattern of failures.\n2. Carefully update the original prompt's instructions and EXAMPLES section. Integrate the new few-shot examples into the existing examples. You may also refine the general instructions or rules if the reasoning suggests a systemic issue.\n3. Produce a final output with two sections: a 'Summary of Changes' and the 'Updated Prompt'. The summary should explain what was changed and why.\n\nYour output must contain ONLY the summary and the complete, updated prompt.",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 4096
        }
      },
      "id": "second-llm-refinement",
      "name": "Second LLM Call - Prompt Refinement",
      "type": "n8n-nodes-base.basicLLMChain",
      "typeVersion": 1,
      "position": [2220, 100],
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "create",
        "title": "{{ $('Set Date Range & Config').first().json.guard_name }} - Prompt Update - {{ $now.toFormat('yyyy-MM-dd') }}",
        "content": "{{ $('Second LLM Call - Prompt Refinement').first().json.output }}",
        "folderId": "1ubLE1KX4clgc_71LWTfqqBIl4B6UMOXe",
        "options": {}
      },
      "id": "create-google-doc",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [2440, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('Set Date Range & Config').first().json.google_sheets_spreadsheet_id }}",
        "sheetName": "={{ $('Set Date Range & Config').first().json.google_sheets_sheet_name }}",
        "columns": {
          "mappedColumns": [
            {
              "column": "Date of Run",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "Status",
              "value": "Success"
            },
            {
              "column": "Guard Name Updated",
              "value": "={{ $('Set Date Range & Config').first().json.guard_name }}"
            },
            {
              "column": "Result",
              "value": "Prompt Updated"
            },
            {
              "column": "Link to Google Doc",
              "value": "={{ $json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2660, 200],
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('Set Date Range & Config').first().json.google_sheets_spreadsheet_id }}",
        "sheetName": "={{ $('Set Date Range & Config').first().json.google_sheets_sheet_name }}",
        "columns": {
          "mappedColumns": [
            {
              "column": "Date of Run",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "column": "Status",
              "value": "Success"
            },
            {
              "column": "Guard Name Updated",
              "value": "={{ $('Set Date Range & Config').first().json.guard_name }}"
            },
            {
              "column": "Result",
              "value": "No Records Found"
            },
            {
              "column": "Link to Google Doc",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "log-no-records",
      "name": "Log No Records",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 400],
      "webhookId": ""
    },
    {
      "parameters": {
        "toEmail": "ayoung@questrade.com",
        "subject": "Guard Prompt Retraining Workflow Failed",
        "message": "The Automated Daily Guard Prompt Retraining workflow has failed.\n\nWorkflow: Automated Daily Guard Prompt Retraining\nFailed Node: {{ $node.name }}\nError Details: {{ $json.error }}\n\nPlease check the n8n execution logs for more details.",
        "options": {}
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2440, 400],
      "webhookId": ""
    }
  ],
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Date Range & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range & Config": {
      "main": [
        [
          {
            "node": "Get False Positive Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get False Positive Feedback": {
      "main": [
        [
          {
            "node": "Check for Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Records": {
      "main": [
        [
          {
            "node": "Get Original Guard Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Original Guard Prompt": {
      "main": [
        [
          {
            "node": "Loop Through Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Feedback": {
      "main": [
        [
          {
            "node": "Get Run Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Details": {
      "main": [
        [
          {
            "node": "Get All Feedback for Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Feedback for Run": {
      "main": [
        [
          {
            "node": "First LLM Call - Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First LLM Call - Analysis": {
      "main": [
        [
          {
            "node": "Extract Analysis Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Analysis Result": {
      "main": [
        [
          {
            "node": "Second LLM Call - Prompt Refinement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second LLM Call - Prompt Refinement": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Log Success to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Records": {
      "main": [
        [
          {
            "node": "Log No Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "3",
  "tags": []
} 